 *{ 
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
   }


body{
  font-family:'Poppins', sans-serif;
  background:#fffaf7;
  color:#333;
}
body.dark{
  background: #111;
  color:#fff;
}


header{
 position:fixed;
  width:100%;
  height:60px;
  top:0;
  left:0;
  padding:18px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  backdrop-filter:blur(10px);
  background:rgba(255,255,255,0.6);
  z-index:1000;
}
body.dark header{
  background:rgba(20,20,20,0.85);
}



body.dark nav a{
  color:#fff;
}



body.dark .theme-toggle{
  background:#c46a3d;
  color:#fff;
}
.logo{
  font-family:'Playfair Display', serif;
  font-size:30px;
  
  text-align: left;
  font-weight:700;
  color:#c46a3d;
}
.logo h2{
    font-size:26px;
    font-weight:bold;
    position:relative;
}



.logo h2:hover{
    color:#ff7a18;
    text-shadow:0 0 10px rgba(255,122,24,0.7);
    transition:0.3s;
}


.logo{
 font-family:'Playfair Display', serif;
  font-size:28px;
  font-weight:700;
  color:#c46a3d;
}

nav ul{
  list-style:none;
  display:flex;
  gap:30px;
}

nav a{
  text-decoration:none;
  color:#333;
  font-weight:500;
  position:relative;
}

nav a::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-5px;
  width:0;
  height:2px;
  background:#c46a3d;
  transition:0.3s;
}

nav a:hover::after{
  width:100%;
}
.dropdown{
position:relative;
}



.dropdown-menu{
position:absolute;
top:35px;
left:0;
background:white;
list-style:none;
padding:10px 0;
border-radius:8px;
min-width:160px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);

opacity:0;
visibility:hidden;
transform:translateY(10px);
transition:0.3s;
}



.dropdown-menu li{
padding:10px 20px;
}

.dropdown-menu li a{
text-decoration:none;
color:#333;
font-size:14px;
}


.dropdown:hover .dropdown-menu{
opacity:1;
visibility:visible;
transform:translateY(0);
}



body.dark .dropdown-menu{
background:#222;
}

body.dark .dropdown-menu li a{
color:white;
}


.signup.btn{
  background:#c46a3d;
  padding:14px;
  border:none;
  color:white;
  border-radius: 25px;
  font-weight:400;
  cursor:pointer;
  transition:0.3s;
}
.signup.btn:hover{
  transform:translateY(-4px);
box-shadow:0 8px 20px rgba(0,0,0,0.3),
           0 0 10px #ff7a00,
           0 0 20px #ff7a00;}
.admin.btn{
  background:#c46a3d;
  padding:14px;
  border:none;
  color:white;
  border-radius: 25px;
  font-weight:400;
  cursor:pointer;
  transition:0.3s;
}
.admin.btn:hover{
  transform:translateY(-4px);
box-shadow:0 8px 20px rgba(0,0,0,0.3),
           0 0 10px #ff7a00,
           0 0 20px #ff7a00;}
.theme-toggle{
  margin-left:20px;
  padding:8px 14px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  font-size:16px;
  background:#c46a3d;
  color: white;
}

.menu-toggle{
  display:none;
  font-size:28px;
  cursor:pointer;
}
.blog-hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url(../Images/cta-cake.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  height:50vh;
}

.blog-hero h1 {
  font-size: 36px;
}



.blog-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 60px 8%;
}

.blog-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}


.blog-content h2 {
  margin: 20px 0 10px;
  color: #c26a3d;
}

.blog-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

blockquote {

  background: #fff3ea;
  padding: 15px;
  border-left: 4px solid #c26a3d;
  margin: 20px 0;
  font-style: italic;
}


.comment-section {
  margin-top: 40px;
}

.comment-section input,
.comment-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comment-section button {
  padding: 10px 20px;
  background: #c26a3d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.sidebar-box {
  background: white;
  padding: 20px;
  
  
  border-radius: 10px;
  margin-bottom: 20px;
}

.sidebar-box h3 {
  margin-bottom: 15px;
  color: #c26a3d;
}

.sidebar-box ul {
  list-style: none;
}

.sidebar-box li {
  margin-bottom: 10px;
  cursor: pointer;
  color:#333;
}


body.dark .footer{
  background: #1a1a1a;
  color: #eee;
}
body.dark.footer-container{
  background: #111;
  color: #fff;
}





body.dark.subscribe input {
  background: #333;
  color: #fff;
  border: 1px solid #555;
}

.footer {
  background:white;
  color: #333;
  padding: 80px 8% 20px;
  font-family: Arial, sans-serif;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items:center;
}



.logo {
  font-size: 30px;
  color: #c46a3d;
  margin-bottom:15px;
}

.desc {
  max-width: 250px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.footer h3 {
  color: #c46a3d;
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer ul li a:hover {
  color: #c46a3d;
}





.contact h3 {
  color: #c46a3d;
  margin-bottom: 15px;
}

.contact p {
  margin-bottom: 8px;
}
/* Subscribe */
.subscribe h3{
  color:#c46a3d;
  margin-bottom: 20px;
}
.subscribe input {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #c46a3d;
  background: transparent;
  color:#ccc;
  margin-bottom: 15px;
  outline: none;
}

.subscribe button {
  background: #e07b39;
  border: none;
 
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe button:hover {
  background: #c9652c;
  transform:translateY(-4px);
box-shadow:0 8px 20px rgba(0,0,0,0.3),
           0 0 10px #ff7a00,
           0 0 20px #ff7a00;
}


.footer-line {
  height: 1px;
  background:#c46a3d;
  margin: 50px 0 20px;
}


.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #ccc;
}



















@media (max-width: 639px) {
  header {
    padding: 14px 5%;
    height: auto;
  }

  .logo {
    font-size: 22px;
  }

 nav ul{
    position:absolute;
    top:70px;
    right:0;
    flex-direction:column;
    background:white;
    width:200px;
    padding:20px;
    display:none;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    align-items: center;
  }
  

  nav ul.active {
    display: flex;
  }
body.dark nav a{
  color:#111;
}
  .menu-toggle {
    display: block;
  }

  .blog-hero {
    height: 35vh;
    padding: 40px 15px;
  }

  .blog-hero h1 {
    font-size: 24px;
  }

  .blog-wrapper {
    grid-template-columns: 1fr;
    padding: 30px 5%;
    gap: 20px;
    
  }

  .blog-content h1 {
    font-size: 22px;
  }

  .blog-content h2 {
    font-size: 18px;
  }

  blockquote {
    padding: 10px;
    font-size: 14px;
  }

  .comment-section input,
  .comment-section textarea {
    font-size: 14px;
  }

  .sidebar-box {
    padding: 15px;
  }
 
 .footer {
    padding: 50px 5% 20px;
    text-align: center;
    width: auto;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .logo {
    font-size: 24px;
  }

  .footer h3 {
    margin-top: 20px;
    font-size: 18px;
  }

  .footer p {
    font-size: 14px;
  }

  .footer-right ul {
    padding: 0;
  }

  .footer-right ul li {
    margin-bottom: 8px;
  }

  .footer-line {
    margin: 40px 0 15px;
  }

  .footer-bottom {
    font-size: 13px;
  }

}
  
@media (min-width: 640px) and (max-width: 1023px) {
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    flex-wrap: nowrap;
    gap:10px;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;   
  }
 
  
  .signup.btn {
    padding: 6px 14px;
    font-size: 14px;
    white-space: nowrap;   
    border-radius: 25px;
    flex-shrink: 0;       

}

   .admin.btn {
    padding: 8px 20px;
    font-size: 14px;
    white-space: nowrap;   
    border-radius: 25px;
    flex-shrink: 0;
 }
   
.theme-toggle {
    padding: 6px 10px;
    font-size: 14px;
    margin-left: 5px;
    display: block;
  }

  .blog-hero {
    height: 40vh;
  }

  .blog-hero h1 {
    font-size: 30px;
  }

  .blog-wrapper {
    grid-template-columns: 1fr;   
    padding: 40px 6%;
    gap: 30px;
  }

  .blog-content h1 {
    font-size: 26px;
  }

  .sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap:20px;
  }

  .sidebar-box {
    margin-bottom: 0;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: nowrap;   
  }
  
  .signup.btn {
    padding: 8px 20px;
    font-size: 14px;
    white-space: nowrap;   
    border-radius: 25px;
    flex-shrink: 0;       

}
 .admin.btn {
    padding: 8px 20px;
    font-size: 14px;
    white-space: nowrap;   
    border-radius: 25px;
    flex-shrink: 0;
 }

 .theme-toggle {
    top: 25px;
    right: 40px;
    padding: 10px 18px;
    font-size: 18px;
  }

  .blog-wrapper {
    grid-template-columns: 2fr 1fr;
    padding: 50px 7%;
    gap: 30px;
  }

  .blog-hero h1 {
    font-size: 32px;
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1280px) {
 

  .blog-wrapper {
    grid-template-columns: 2fr 1fr;
    padding: 70px 10%;
    gap: 50px;
    max-width: 1600px;
    margin: 0 auto;
  }

  .blog-hero {
    height: 55vh;
  }

  .blog-hero h1 {
    font-size: 42px;
  }

  .blog-content h1 {
    font-size: 32px;
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1600px;
    margin: 0 auto;
  }
}